html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #aaaaaa;
    vertical-align: middle;
    padding: 0 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

.continer {
    height: 200px;
}

.title {
    text-align: center;
}

.title > img {
    width: 300px;
    height: auto;
}

.search-field-area {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 500px;
    height: auto;
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.search-field-input-area {
    display: flex;
    flex-direction: row;
}

.icon-wrapper {
    margin: 10px 15px 0 15px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
}

#search-field {
    height: 40px;
    border: none;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background: transparent;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

#search-field:focus {
    outline: none;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.autocomplete-results > li {
    list-style: none;
    margin: 0 35px;
    border: none;
    padding: 6px 15px;
}

.autocomplete-results > li:first-child {
    border-top: 1px solid #dfe1e5;
}

.autocomplete-results > li:last-child {
    padding-bottom: 15px;
}

